/* Empty. Add your own CSS if you like */
.yellow {
  background-color: yellow;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.green {
  background-color: green;
  color: white;
}
